﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Demir Resim</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Demir Resim", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink(WebApplication13.Resources.HomeText.AnaSayfa,"Index","Home",new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Yeni Resimler", "YeniResimler", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Eski Resimler", "EskiResimler", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("İletişim", "İletisim", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
            <div class="nav navbar-nav navbar-right col-md-4" style="margin-top:10px;">
                <div class="col-lg-3 col-md-3">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR-EN <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>@Html.ActionLink("EN", "Change", "Language", new { LanguageAbbrevation = "en" }, null) </li>
                            <li>@Html.ActionLink("TR", "Change", "Language", new { LanguageAbbrevation = "tr" }, null) </li>
                        </ul>
                    </div>
                </div>
               

                <div class="col-lg-9 col-md-9" style="margin-top:0px;">
                     @Html.Partial("_LoginPartial")
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
        
    </div>


    <div class="container body-content">
        @RenderBody()
        
        <hr />
        <footer>
            <div class="panel panel-default" style="background-color:aquamarine;">
                <div class="panel-body">

                    <div class="col-lg-2">
       
                        <p style="margin-top:10px;">&copy; @DateTime.Now.Year -DemirResim</p>
                    </div>

                    <div class="col-lg-4">
                        
                    </div>

                    <div class="col-lg-2">
                        
                    </div>


                    
                    <div class="col-lg-1">
                        <h5 style="margin-left:5px;">DemirResim@gmail.com</h5>
                    </div>

                </div>

            </div>



        </footer>
            </div>
        

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>