﻿@model WebApplication2.Models.AdminPaneli

@{
    ViewBag.Title = "AdminPaneli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color:beige">
    <h2>Dosya Ekle/Sil</h2>
    <div class="row" style="margin-left:15px;">
@using (Html.BeginForm("AdminPaneli", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-sm-2 control-label" style="margin-left:-30px;">Resim</label>
                <div class="col-sm-10" style="margin-left:30px">
                    <input type="file" name="file" class="form-control" />
                </div>
            </div>
            <div class="col-md-4" @*style="margin-left:15px"*@>
            </div>
            <div class="col-md-4" style="margin-left:-50px;">
                <input type="submit" value="Dosya Ekle" style="background-color:green" />
            </div>
        </div>
}
    @*Dosya Ekleme Alanı*@
    </div>
    <hr />
    <div class="row"style="margin-left:10px;">
        <h2>Bilgi Güncelleme:</h2>
        <div class="row" style="margin-left:150px;">
            <label class="col-sm-2 control-label">Resim</label>
            <div class="col-sm-10">
                <input type="file" name="file" class="form-control" />
            </div>
            <div>
                <label class="col-sm-2 control-label">İçerik</label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.bilgi, new { @class = "form-control", rows = 6, columns = 40 })
                </div>
            </div>
            <input type="submit" value="Bilgiyi Güncelle" style="margin-left:352px;" />
        </div>
        <div class="row" style="height:50px;"></div>
        <div class="row">
            <div class="col-md-8" style="margin-left:800px;">Şifre: @Html.TextBoxFor(x => x.AdminSifre)</div>
            <input type="submit" value="Onayla" style="margin-left:966px;" />
        </div>
    </div>
</div>
