﻿@model IEnumerable<WebApplication13.Models.Slider>
@{
    ViewBag.Title = "Index";
    bool ilkEleman = true;
}

<div class="col-md-8" style="width:1200px">
    <div class="row" style="height:40px"></div>
    <article class="row">
        <center>
            <div class="col-md-8" style="height:350px;width:1150px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                @foreach (var item in Model)
                                {
                                    if (item.resim != null)
                                    {
                                        if (ilkEleman)
                                        {
                                            ilkEleman = false;
                                            <div class="item active" style="height:350px">
                                                <img src="data:image/png;base64,@System.Convert.ToBase64String(item.resim)" height="350px" width="500px" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="item" style="height:350px">
                                                <img src="data:image/png;base64,@System.Convert.ToBase64String(item.resim)" alt="" />
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        if (ilkEleman)
                                        {
                                            ilkEleman = false;
                                            <div class="item active" style="height:350px">
                                                <img src="~/Content/img/cd1.jpg" height="350px" width="500px" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="item" style="height:350px">
                                                <img src="~/Content/img/cd1.jpg" alt="" />
                                            </div>
                                        }
                                    }
                                }
                               
                            </div>
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </article>
    <div class="row" style="height:100px"></div>
    <div class="row">
        <article>
            <div class="col-md-4">
                <img src="~/Content/img/cd1.jpg" style="width:350px;height:240px;" />
            </div>
        </article>
        <article>
            <div class="col-md-4">
                <img src="~/Content/img/cd1.jpg" style="width:350px;height:240px;" />
            </div>
        </article>
        <article>
            <div class="col-md-4">
                <img src="~/Content/img/cd1.jpg" style="width:350px;height:240px;" />
            </div>
        </article>
    </div>
</div>
<div class="row" style="height:1000px;"></div>