﻿
@{
    ViewBag.Title = "İletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="height:20px;"></div>
<article class="row">
    <div class="col-md-4">
        <div class="panel panel-default" style="width:1100px;height:400px;">
            <div class="panel-heading" style="height:40px">
                <h4>Harita</h4>
            </div>
            <div class="panel-body">
                <div class="contact-map">
                    <div class="google-map-canvas" id="map-canvas" style="height:200px;"></div>
                </div>
            </div>
        </div>
    </div>
</article>
<article class="row">
    <div class="panel-body" style="width:150px">İletişim Bilgileri</div>
</article>
<article class="row">
    <div class="col-md-4">
        <div class="panel panel-default" style="height:150px;width:600px">
            
            <div class="panel-body" style="height:150px;width:600px;">
                <p>
                    Mail:
                    Tel No:
                    Fax No:

                </p>
            </div>
        </div>

    </div>
</article>

<div class="row" style="height:1000px;"></div>
