﻿@model WebApplication2.Models.Uyegiris
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Üye Girişi</h1>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4">
            Kullanici Adi @Html.TextBoxFor(x => x.KullaniciAdi)
        </div>
        <div class="col-md-4" style="margin-left:-30px;">
            Şifre @Html.TextBoxFor(x => x.Sifre)
        </div>
          
        <div class="col-md-4">
            <input type="submit" value="Giriş Yap" />
        </div>
        
    </div>
    <hr />
    <div class="row" style="height:50px;"></div>
    
    <div class="row" style="margin-left:200px;">
        <h1>Üye Ol</h1>
        <div>
            <p>Mail Adresi: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(x => x.mail)</p>
            <p>Şifre: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(x => x.ksifre)</p>
            <p>Şifre Tekrarı:  &nbsp;&nbsp;&nbsp; @Html.TextBoxFor(x => x.ktsifre)</p>
            <p>Kullanıcı Adı: &nbsp;&nbsp; @Html.TextBoxFor(x => x.kullaniciadi)</p>
            <input type="submit" value="Giriş Yap" style="margin-left:200px;"/>
        </div>
    </div>

}

