﻿@model WebApplication2.Models.YeniResimler
@{
    ViewBag.Title = "YeniResimler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="height:40px;"></div>
<legend>Yeni Resimler</legend>
<div class="row" style="margin-left:10px;">
    <div class="row" style="background-color:beige">
        <h2>Resim1</h2>
        <article class="row">
            <article>
                <div class="col-md-4">
                    <img src="~/Content/img/cd1.jpg" style="width:700px;height:250px;" />
                </div>
            </article>
            <div class="col-md-4">
                <div class="panel panel-default" style="margin-left:350px;width:400px">
                    @*<div class="panel-heading">Sakarya Tarihi</div>*@
                    <div class="panel-body" style="height:250px;width:400px">
                        <p>
                            Resim Bilgisi
                        </p>
                        <p>
                            Resim Bilgisi
                        </p>
                        <p>
                            Resim Bilgisi
                        </p>
                        <p>
                            Resim Bilgisi
                        </p>
                    </div>
                </div>
            </div>
        </article>
        <div class="row" style="height:10px;"></div>
        <article class="row">
            <div class="col-md-4">
                <div class="panel panel-default" style="height:150px;width:600px">
                    @*<div class="panel-heading">Sakarya Tarihi</div>*@
                    <div class="panel-body" style="height:150px;width:600px;overflow:scroll;">
                        <p>
                            Resim Yorumu
                        </p>
                        <p>
                            Resim Yorumu
                        </p>
                        <p>
                            Resim Yorumu
                        </p>
                        <p>
                            Resim Yorumu
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <p style="margin-left:250px;font-size:20px"> Yorum</p>
                <h1 style="font-family:Arial;margin-left:250px;font-size:20px;"> @Html.TextAreaFor(x => x.y_yazi)</h1>
                <input type="submit" value="Giriş Yap" style="margin-left:420px;" />
            </div>

        </article>
    </div>
    <hr />
    <div class="row" style="background-color:beige">
        <h2>Resim2</h2>
        <article class="row">
            <article>
                <div class="col-md-4">
                    <img src="~/Content/img/cd1.jpg" style="width:700px;height:250px;" />
                </div>
            </article>
            <div class="col-md-4">
                <div class="panel panel-default" style="margin-left:350px;width:400px">
                    @*<div class="panel-heading">Sakarya Tarihi</div>*@
                    <div class="panel-body" style="height:250px;width:400px">
                        <p>
                            Resim Bilgisi
                        </p>
                        <p>
                            Resim Bilgisi
                        </p>
                        <p>
                            Resim Bilgisi
                        </p>
                        <p>
                            Resim Bilgisi
                        </p>
                    </div>
                </div>
            </div>
        </article>
        <div class="row" style="height:10px;"></div>
        <article class="row">
            <div class="col-md-4">
                <div class="panel panel-default" style="height:150px;width:600px">
                    @*<div class="panel-heading">Sakarya Tarihi</div>*@
                    <div class="panel-body" style="height:150px;width:600px;overflow:scroll;">
                        <p>
                            Resim Yorumu
                        </p>
                        <p>
                            Resim Yorumu
                        </p>
                        <p>
                            Resim Yorumu
                        </p>
                        <p>
                            Resim Yorumu
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <p style="margin-left:250px;font-size:20px"> Yorum</p>
                <h1 style="font-family:Arial;margin-left:250px;font-size:20px;"> @Html.TextAreaFor(x => x.y_yazi)</h1>
                <input type="submit" value="Giriş Yap" style="margin-left:420px;" />
            </div>

        </article>
    </div>
</div>
<div class="row" style="height:100px;"></div>