﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>

    <li>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null) </li>
    <li>@Html.ActionLink("Turkish", "Change", "Language", new { LanguageAbbrevation = "tr" }, null) </li>
    <li>@DateTime.Now.ToString()</li>
</ul>

